body {
  font-family: 'Inter', sans-serif;
  display: contents;
  color: #a9a9b3;
}

a {
  color: #a9a9b3;
  
}

h1 {
  font-weight: 900;
}

.container {
  background-color: #292a2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  justify-content: center;
}

.socialbtns ul li::after {
  content: '';
  display: block;
  width: 10px;       /* Length of the underline */
  height: 1px;       /* Thickness of the underline */
  background-color: #a9a9b3;
  margin: 8px auto 0;  /* Space between icon and line */
  border-radius: 1px;  /* Optional: smooth edges */
}
